<div class="row">
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Admin</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Categories</li>
                </ol>
            </nav>
        </div>

    </div>

    <div class="col-md-6">
        <h6 class="mb-0 text-uppercase">List Categories</h6>
        <hr>
        <div class="card">
            <div class="card-body">

                <table class="table mb-0">
                    <tr><th>name</th><th>Action</th></tr>
                    <tbody id='bodyTab'>
                        <tr *ngFor="let category of categories  let i = index">
                            <td>{{ category.name }}</td>
                            <td>
                                <button (click)="editCategory(category)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn p-1"><i class="bx bxs-edit"></i></button>
                                <button (click)="deleteCategory(category._id)" class="btn p1"><i class="bx bxs-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    
    <div class="col-md-6">
        <h6 class="mb-0 text-uppercase">Add Category</h6>
        <hr>
        <div class="card">
            <div class="card-body">

                <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" #f="ngForm">
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <label for="inputName" class="form-label">Name</label>
                            <input type="text" class="form-control" formControlName="name"/>
                        </div>
                     
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary float-end px-5" [disabled]="f.invalid">Add<i class="fa fa-save ms-2"></i></button>
                        </div>
                    </div>
                </form>
            
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-auto g-3">
    <div class="col">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Confirm</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <label for="inputName" class="form-label">Name</label>
                                <input type="text" class="form-control" [(ngModel)]="categoryUp.name"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button (click)="saveChangeCategory()" [disabled]="categoryUp.name == ''" data-bs-dismiss="modal" type="button" class="btn btn-primary">Edit</button>
                        <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>