<ul class="metismenu" id="menu">
    <li>
        <a href="javascript:;" class="has-arrow">
            <div class="parent-icon"><i class='bx bx-home-circle'></i>
            </div>
            <div class="menu-title">Dashboard</div>
        </a>
        <ul>
            <li> <a href="index.html"><i class="bx bx-right-arrow-alt"></i>Analytics</a>
            </li>
        </ul>
    </li>

    <li>
        <a class="has-arrow" href="javascript:;">
            <div class="parent-icon"><i class='bx bx-category'></i>
            </div>
            <div class="menu-title">Categories</div>
        </a>
        <ul>
            <li> <a routerLink="/admin/categories"><i class="bx bx-right-arrow-alt"></i>List</a></li>
        </ul>
    </li>

    <li>
        <a class="has-arrow" href="javascript:;">
            <div class="parent-icon"><i class='bx bx-category'></i>
            </div>
            <div class="menu-title">Products</div>
        </a>
        <ul>
            <li> <a routerLink="/admin/products/"><i class="bx bx-right-arrow-alt"></i>List Products</a></li>
            <li> <a routerLink="/admin/products/add"><i class="bx bx-right-arrow-alt"></i>Add Product</a></li>
        </ul>
    </li>

</ul>